In [28]:
#QUESTION 2



var_1=' '

In [2]:
type(var_1)

str

In [3]:
var_2='[ DS , ML , Python]'

In [4]:
type(var_2)

str

In [5]:
var_3=["DS","ML","Python"]

In [6]:
type(var_3)

list

In [7]:
var_4=1

In [8]:
type(var_4)

int

In [10]:
#QUESTION 3

In [13]:
a=10/4

print(a)

2.5

In [14]:
#THE USE '/' IS TO RETURN THE QUOTIENT ,IT ALWAYS HAS A FLOAT TYPE

In [15]:
a1=10%4

print(a1)

2

In [16]:
# THE USE OF '% ' IS TO RETURN THE REMAINDER WHEN DIVISION IS PERFORMED

In [17]:
a2=10//4

print(a2)

2

In [18]:
#THE USE OF '%'  IS TO RETURN THE QUOTIENT AND IF IT IS IN THE FLOAT TYPE THEN IT ROUND OF TO THE SMALLEST DECIMAL PLACE

In [20]:
a3=10**2

print(a3)

100

In [21]:
#THE USE OF '**'  IS TO RAISE THE POWER FOR EXAMPLE LIKE 10 RAISE TO THE POWER 2

In [22]:
#QUESTION 4

In [39]:
list=[1,2,33.4,"mehak",True,[1,"pw",88.7],("a","b","c"),{"me","mine",3},{"name":"mehak","age":21},False]

for i in list:
    print(f"Data: {i}, Data Type: {type(i)}")

Data: 1, Data Type: <class 'int'>
Data: 2, Data Type: <class 'int'>
Data: 33.4, Data Type: <class 'float'>
Data: mehak, Data Type: <class 'str'>
Data: True, Data Type: <class 'bool'>
Data: [1, 'pw', 88.7], Data Type: <class 'list'>
Data: ('a', 'b', 'c'), Data Type: <class 'tuple'>
Data: {'me', 'mine', 3}, Data Type: <class 'set'>
Data: {'name': 'mehak', 'age': 21}, Data Type: <class 'dict'>
Data: False, Data Type: <class 'bool'>

In [40]:
#QUESTION 1

In [41]:
L1=["tanya",[1,22.2,"abc"],99.3,(1,2,3)]

print(L1)

['tanya', [1, 22.2, 'abc'], 99.3, (1, 2, 3)]

In [3]:
#QUESTION 5

In [6]:
a=int(input("Enter the dividend (a):"))
b=int(input("Enter the divisor (b):"))

count=0

while a>=b:
    a-=b
    count+=1
    
if a==0:
    print(f"{a} is purely divisble by {b}")
    print(f"the no. of times a is divisble by b is {count}")
          
else:
          print(f"{a} is not divisble by {b}")

Enter the dividend (a): 20
Enter the divisor (b): 5

0 is purely divisble by 5
the no. of times a is divisble by b is 4

In [11]:

#QUESTION 6

n=[3,6,9,12,15,18,21,24,27,45,63,84,33,36,42,48,53,56,66,90,7,11,55,22,82]

for i in n:
    if i%3==0:
        print(f"{i} is divisible by 3")
    else:
        print(f"{i} is not divisible by 3")

3 is divisible by 3
6 is divisible by 3
9 is divisible by 3
12 is divisible by 3
15 is divisible by 3
18 is divisible by 3
21 is divisible by 3
24 is divisible by 3
27 is divisible by 3
45 is divisible by 3
63 is divisible by 3
84 is divisible by 3
33 is divisible by 3
36 is divisible by 3
42 is divisible by 3
48 is divisible by 3
53 is not divisible by 3
56 is not divisible by 3
66 is divisible by 3
90 is divisible by 3
7 is not divisible by 3
11 is not divisible by 3
55 is not divisible by 3
22 is not divisible by 3
82 is not divisible by 3

In [12]:
#QUESTION 6

In [17]:
#IMMUTABLE DATATYPES

A="MEHAK"
type(A)


#IN THIS WE HAVE TAKEN STRING DATATYPE WHICH IS IMMUTABLE SO IF WE WANT TO CHANGE THE LETTER 'E' WITH 'O' ,IT IS NOT POSSIBLE BECZ STR VALUE CANNOT BE ALTERED AND ALSO NO NEW LETTER CAN BE INSERTED  
#CHECKING THE IMMUTABLITY

A[1]=O

NameError: name 'O' is not defined

In [23]:
#MUTABLE DATATYPES

#LIST
L1=[1,"ESHA","ECO","ACCOUNTS","BST","IP",22.3]
type(L1)

#IN THIS EXAMPLE WE HAVE CREATED A LIST WHICH IS MUTABLE IN NATURE FOR EXAMPLE IF WE WANT TO "AI" IN PLACE OF "ESHA" THEN IT IS POSSIBLE IN CASE OF LIST 
#CHECKING THE MUTABILITY

L1[1]="AI"
print(L1)

[1, 'AI', 'ECO', 'ACCOUNTS', 'BST', 'IP', 22.3]

In [25]:
#DICTIONARIES

dic={"name":"jiya","age":12}

dic["age"]=13
print(dic)

{'name': 'jiya', 'age': 13}

In [27]:
#SET

set={1,"abc","efg"}
set.remove("efg")
print(set)

{1, 'abc'}