## Q1. How do you comment code in Python? What are the different types of comments?

In [ ]:
# In Python, comments are used to explain code, making it more readable and easier to understand.
# Comments are ignored by the Python interpreter, so they do not affect the execution of the program. 
# There are two main types of comments in Python: single-line comments and multi-line comment

In [ ]:
1. Single-Line Comments
Single-line comments are created using the # symbol. Everything following the # on that line is considered a comment
and is ignored by the interpreter.

In [ ]:
# This is a single-line comment
x = 10  # This is an inline comment explaining the variable


# In the above example:

# The first line is a single-line comment.
# The second line contains an inline comment explaining the variable x.

In [ ]:
# 2. Multi-Line Comments

# Python does not have a specific syntax for multi-line comments like some other programming languages.
# However, you can create multi-line comments by using consecutive single-line comments
# or by using multi-line strings (triple quotes), 
# though the latter is technically a string and not a comment.

In [ ]:
# Method 1: Consecutive Single-Line Comments

# This is a multi-line comment
# spread over several lines
# using consecutive single-line comments.

In [ ]:
# Method 2: Multi-Line Strings (Not technically a comment, but often used)

# You can use triple quotes (''' or """) to create a multi-line string that acts like a comment. 
# These strings are not assigned to any variable and are 
# therefore ignored by the interpreter if not used as docstrings.

In [ ]:
"""
This is a multi-line string
used as a comment. It spans multiple lines.

"""

## Q2. What are variables in Python? How do you declare and assign values to variables?

In [ ]:
# What Are Variables in Python?

# Variables in Python are symbolic names that reference or store data. 
# They are used to hold values that can be accessed and manipulated throughout a program.
# Variables allow you to work with data without needing to refer to specific values directly, 
# making your code more flexible and easier to manage.

In [ ]:
# How to Declare and Assign Values to Variables in Python

# In Python, you don't need to explicitly declare variables before assigning values to them.
# You simply assign a value to a variable name using the assignment operator (=).

In [ ]:
# Variable Declaration and Assignment
# Here’s how we  can declare a variable and assign a value to it:

# Example of declaring and assigning values to variables

# Declare a variable 'x' and assign the integer value 10 to it
x = 10

# Declare a variable 'name' and assign the string value "John" to it
name = "John"

# Declare a variable 'price' and assign the float value 19.99 to it
price = 19.99

# Declare a variable 'is_student' and assign the boolean value True to it
is_student = True

In [ ]:
# Key Points:
    
# No Explicit Declaration: Python variables are created the moment you first assign a value to them.

# Dynamic Typing: Python is dynamically typed,
# which means that you don’t need to specify the type of a variable when you create it. 
# The type is inferred from the value you assign to the variable.

# Variable Names: Variable names can contain letters (a-z, A-Z), digits (0-9), and underscores (_).
# However, they must start with a letter or an underscore, not a digit. 
# Python is case-sensitive, so myVar and myvar would be considered different variables.

## Q3. How do you convert one data type to another in Python?

In [ ]:
# In Python, We can convert one data type to another using built-in functions. 
# This process is called type conversion or type casting.
# Below are the common methods for converting between different data types.

In [ ]:
# 1. Converting to Integer (int)

# We can convert a value to an integer using the int() function. 
# This is useful for converting strings or floats to integers.

In [5]:
# String to integer
s = "123"
i = int(s)
print(i)  # Output: 123

# Float to integer
f = 12.34
i = int(f)
print(i)  # Output: 12 (Note: This truncates the decimal part)

123
12

In [ ]:
# 2. Converting to Float (float)

# We can convert a value to a float using the float() function.

In [ ]:
# String to float
s = "123.45"
f = float(s)
print(f)  # Output: 123.45

# Integer to float
i = 123
f = float(i)
print(f)  # Output: 123.0

In [ ]:
# 3. Converting to String (str)

# we can convert a value to a string using the str() function.

In [ ]:
# Integer to string
i = 123
s = str(i)
print(s)  # Output: "123"

# Float to string
f = 123.45
s = str(f)
print(s)  # Output: "123.45"

In [ ]:
# 4. Converting to List (list)

# we  can convert a value to a list using the list() function.
# This is often used to convert strings or other iterable objects into lists.

In [ ]:
# String to list
s = "hello"
lst = list(s)
print(lst)  # Output: ['h', 'e', 'l', 'l', 'o']

# Tuple to list
t = (1, 2, 3)
lst = list(t)
print(lst)  # Output: [1, 2, 3]

In [ ]:
# 5. Converting to Tuple (tuple)

# we can convert a value to a tuple using the tuple() function.

In [ ]:
# List to tuple
lst = [1, 2, 3]
t = tuple(lst)
print(t)  # Output: (1, 2, 3)

In [ ]:
# 6. Converting to Set (set)
# we can convert a value to a set using the set() function. 
# This is useful for removing duplicates from a list or string

In [ ]:
# List to set
lst = [1, 2, 2, 3, 4, 4]
s = set(lst)
print(s)  # Output: {1, 2, 3, 4}

# String to set
s = "hello"
st = set(s)
print(st)  # Output: {'e', 'h', 'l', 'o'}

In [ ]:
# 7. Converting to Dictionary (dict)

# we  can convert a list of key-value pairs (tuples) 
# or another dictionary to a dictionary using the dict() function.

In [ ]:
# List of tuples to dictionary
pairs = [("name", "John"), ("age", 30)]
d = dict(pairs)
print(d)  # Output: {'name': 'John', 'age': 30}

## Q5. Given a list my_list = [1, 2, 3, 4, 5], write the code to slice the list and obtain the sub-list [2, 3].

In [7]:
my_list=[1,2,3,4,5]

In [8]:
my_list[1:3]

[2, 3]

 ## Q6. What is a complex number in mathematics, and how is it represented in Python?

In [9]:
c_num=(4+9j)

In [11]:
type(c_num)

complex

In [ ]:
What is a Complex Number in Mathematics?
In mathematics,
a complex number is a number that comprises a real part and an imaginary part.
It is generally expressed in the form:

𝑧=𝑎+𝑏𝑖

Where:

𝑎 is the real part of the complex number.
b is the imaginary part.
i (or j in some contexts) is the imaginary unit, which satisfies the equation 𝑖2=−1

For example, 
3+4𝑖
3+4i is a complex number where 3 is the real part, and 4 is the imaginary part.

In [ ]:
# How is a Complex Number Represented in Python?

# In Python, complex numbers are supported as a built-in data type. 
# A complex number is represented as a + bj, where a is the real part and b is the imaginary part. 
# The imaginary part is denoted by the letter j instead of i (as is common in engineering).

In [ ]:
Creating Complex Numbers in Python
You can create a complex number in Python in a few different ways:

1. Using Literal Notation
You can directly assign a complex number to a variable using the literal a + bj:

In [ ]:
z = 3 + 4j
print(z)  # Output: (3+4j)

In [ ]:
Accessing the Real and Imaginary Parts
You can access the real and imaginary parts of a complex number using the .real and .imag attributes:

In [ ]:
z = 3 + 4j

# Accessing the real part
real_part = z.real
print(real_part)  # Output: 3.0

# Accessing the imaginary part
imaginary_part = z.imag
print(imaginary_part)  # Output: 4.0

## Q7. What is the correct way to declare a variable named age and assign the value 25 to it?

In [14]:
Age=25

In [16]:
Age

25

## Q8. Declare a variable named price and assign the value 9.99 to it. What data type does this variable
## belong to?

In [17]:
price=9.99

In [18]:
price

9.99

In [19]:
type(price)

float

## Q9. Create a variable named name and assign your full name to it as a string. How would you print the value of this variable?

In [20]:
Name="Mehak Goel"

In [24]:
print(Name)

Mehak Goel

## Q10. Given the string "Hello, World!", extract the substring "World".

In [25]:
str="Hello, World!"

In [26]:
str

'Hello, World!'

In [29]:
str[7:12]

'World'

## Q11. Create a variable named "is_student" and assign it a boolean value indicating whether you arecurrently a student or not.

In [ ]:
# Example if I are currently a student

In [30]:
is_student=True

In [ ]:
# Example if I are not currently a student:

In [ ]:
is_student = False